<h3>Create a QSeal Certificate for <%= @provider.name %></h3>

<%= form_with url: create_qseal_certificate_admin_provider_path(@provider), method: :post, local: true do |f| %>
  <fieldset style="border:1px solid #ddd; border-radius:4px; padding:1em 1.25em; margin-bottom:1.25em;">
    <legend style="font-weight:bold; padding:0 0.4em; color:#333;">Certificate Name</legend>
    <div class="input">
      <%= f.label :name, 'Name' %><br>
      <%= f.text_field :name, value: "#{@provider.name} QSeal", required: true, style: 'width:100%; max-width:480px;' %>
    </div>
  </fieldset>

  <fieldset style="border:1px solid #ddd; border-radius:4px; padding:1em 1.25em; margin-bottom:1.25em;">
    <legend style="font-weight:bold; padding:0 0.4em; color:#333;">Signing CA Certificate</legend>
    <div class="input">
      <%= f.label :ca_certificate_id, 'CA Certificate' %><br>
      <%= f.select :ca_certificate_id,
                   @ca_cert_options,
                   { selected: @ca_certificates.one? ? @ca_certificates.first.id : nil,
                     prompt: 'Select a CA Certificate' },
                   { required: true, style: 'width:100%; max-width:640px;' } %>
    </div>
  </fieldset>

  <fieldset style="border:1px solid #ddd; border-radius:4px; padding:1em 1.25em; margin-bottom:1.25em;">
    <legend style="font-weight:bold; padding:0 0.4em; color:#333;">PSP Roles</legend>
    <p style="color:#666; font-size:0.9em; margin:0 0 0.75em;">
      Select one or more PSD2 roles this certificate will declare. Most TPPs carry multiple roles.
    </p>
    <% QsealCertificate::PSP_ROLES.each_key do |code| %>
      <div style="margin-bottom:0.5em;">
        <label>
          <%= check_box_tag 'roles[]', code, true %>
          <strong><%= code %></strong>
          <span style="color:#555;">(<%= QsealCertificate::PSP_ROLE_LABELS[code] %>)</span>
        </label>
      </div>
    <% end %>
  </fieldset>

  <div class="actions">
    <%= f.submit 'Create QSeal Certificate', class: 'button' %>
    <%= link_to 'Cancel', admin_provider_path(@provider), class: 'button' %>
  </div>
<% end %>
